/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-transparend-grey: #00000066;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 15px;

  /* Annimation */
  --animation-duration: 300ms;
}

/* Global Tag */
body {
  background-color: black;
  display: block;
  font-family: 'Yeon Sung', cursive;
  margin: 0;
  font-size: var(--font-regular);
  /*overflow: hidden;*/
  width: 100%;
  height: 100%;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  background-color: transparent;
  font-family: 'Yeon Sung', cursive;
}

/* Game Screen */
#game-screen {
  position: relative;
  margin: auto;
  margin-top: 100px;
  width: 80vw;
  height: 70vh;
  background-image: url('img/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: var(--size-border-radius);
}

/* Sound Option */
#sound {
  position: inherit;
  background-color: transparent;
  color: brown;
  font-size: var(--font-medium);
  padding: 5px;
  margin: 10px;
  transition: all var(--animation-duration) ease-in;
}

#sound:hover {
  cursor: pointer;
  transform: scale(1.2);
}

/* Start Page*/
#main-page {
  display: none;
  /*display: flex;*/
  flex-direction: column;
  align-items: center;
}

.main__title {
  font-size: var(--font-large);
  padding: 0 15px;
  margin: 10px;
  margin-bottom: 100px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: var(--size-border-radius);
}

.main__ui {
  display: flex;
  flex-direction: column;
}

.main__ui button {
  border: 2px solid black;
  border-radius: var(--size-border-radius);
  margin: 10px 0;
  font-size: var(--font-medium);
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

/* Game Page */
#game-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game__control-btn {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  border: solid 2px black;
  border-radius: 10px;
  cursor: pointer;
}

.game__control-btn i {
  display: none;
}

.game__control-btn .active {
  display: inline;
}

.time {
  width: 100px;
  height: 40px;
  line-height: 40px;
  margin-top: 10px;
  text-align: center;
  border: solid 2px black;
  font-size: 20px;
  border-radius: 10px;
}

.goal {
  width: 100px;
  height: 40px;
  line-height: 40px;
  margin-top: 10px;
  text-align: center;
  border: solid 2px black;
  font-size: 20px;
  border-radius: 10px;
}

.bugs,
.carrots {
  height: 50%;
  width: 100%;
  top: 50%;
  left: 0px;
  position: absolute;
}

.bug,
.carrot {
  position: absolute;
  cursor: pointer;
}

.float {
  height: 70%;
  width: 70%;
  background-color: var(--color-transparend-grey);
  color: var(--color-white);
  position: absolute;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
}

.over__text {
  margin: 20px;
}
.over__main-btn {
  padding: 5px 10px;
  text-align: center;
  line-height: 40px;
  border: solid 2px var(--color-white);
  border-radius: 10px;
  cursor: pointer;
}
